# openssl req -config leaf.openssl.config -new -key private.key.pem -out leaf.csr.pem -extensions ext_req
# openssl x509 -req -in leaf.csr.pem -CA ca.cert.pem -CAkey private.key.pem -CAcreateserial -out leaf.cert.pem -days 99999 -extfile leaf.openssl.config -extensions ext_req
# openssl verify -CAfile ca.cert.pem leaf.cert.pem
# openssl x509 -in leaf.cert.pem -noout -text
[req]
prompt = no
distinguished_name = req_dn
req_extensions = ext_req

[req_dn]
CN = user.athenz_admin

[ext_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = critical, serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
