# openssl req -config ca.openssl.config -new -key private.key.pem -out ca.csr.pem -extensions ext_req
# openssl req -new -x509 -days 99999 -config ca.openssl.config -extensions ext_req -key private.key.pem -out ca.cert.pem
# openssl verify -CAfile ca.cert.pem ca.cert.pem
# openssl x509 -in ca.cert.pem -noout -text
[req]
prompt = no
distinguished_name = req_dn
req_extensions = ext_req

[req_dn]
CN = Test CA Certificate

[ext_req]
basicConstraints = CA:TRUE
keyUsage = cRLSign, keyCertSign
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
