# openssl req -config idp.openssl.config -new -key private.key.pem -out idp.csr.pem -extensions ext_req
# openssl x509 -req -in idp.csr.pem -CA ca.cert.pem -CAkey private.key.pem -CAcreateserial -out idp.cert.pem -days 99999 -extfile idp.openssl.config -extensions ext_req
# openssl verify -CAfile ca.cert.pem idp.cert.pem
# openssl x509 -in idp.cert.pem -noout -text
[req]
prompt = no
distinguished_name = req_dn
req_extensions = ext_req

[req_dn]
CN = idp

[ext_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = critical, serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = oauth2
DNS.3 = oauth2.athenz
IP.1 = 127.0.0.1

