# openssl req -config zms-syncer.openssl.config -new -key private.key.pem -out zms-syncer.csr.pem -extensions ext_req
# openssl x509 -req -in zms-syncer.csr.pem -CA ca.cert.pem -CAkey private.key.pem -CAcreateserial -out zms-syncer.cert.pem -days 99999 -extfile zms-syncer.openssl.config -extensions ext_req
# openssl verify -CAfile ca.cert.pem zms-syncer.cert.pem
# openssl x509 -in zms-syncer.cert.pem -noout -text
[req]
prompt = no
distinguished_name = req_dn
req_extensions = ext_req

[req_dn]
CN = sys.auth.zms-syncer

[ext_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = critical, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1
