apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: athenz

resources:
- deployment.yaml
- namespace.yaml
- service.yaml

generatorOptions:
  disableNameSuffixHash: true

      #- zms_truststore.jks=certs/zms_truststore.jks
secretGenerator:
- files:
  - zms_keystore.pkcs12=certs/zms_keystore.pkcs12
  name: athenz-zms-cert-stores
  type: Opaque
- files:
  - zms.private.pem=keys/zms.private.pem
  name: athenz-zms-keys
  type: Opaque

configMapGenerator:
- files:
  - athenz.properties=conf/athenz.properties
  - zms.properties=conf/zms.properties
  - authorized_client_ids.txt=conf/authorized_client_ids.txt
  - authorized_services.json=conf/authorized_services.json
  - logback.xml=conf/logback.xml
  - solution_templates.json=conf/solution_templates.json
  name: athenz-zms-conf
- files:
  - ca.cert.pem=certs/ca.cert.pem
  name: athenz-cacert
images:
- name: ghcr.io/ctyano/athenz-auth-core:latest
  newName: ghcr.io/ctyano/athenz-auth-core
  newTag: latest
- name: ghcr.io/ctyano/athenz-zms-server:latest
  newName: ghcr.io/ctyano/athenz-zms-server
  newTag: latest
