apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: athenz

resources:
- deployment.yaml
- namespace.yaml
- service.yaml

generatorOptions:
  disableNameSuffixHash: true

      #- zts_truststore.jks=certs/zts_truststore.jks
      #- zms_client_truststore.jks=certs/zms_client_truststore.jks
secretGenerator:
- files:
  - zts_keystore.pkcs12=certs/zts_keystore.pkcs12
  - zts_signer_keystore.pkcs12=certs/zts_signer_keystore.pkcs12
  - zms_client_keystore.pkcs12=certs/zms_client_keystore.pkcs12
  name: athenz-zts-cert-stores
  type: Opaque
- files:
  - zts.private.pem=keys/zts.private.pem
  - zts.public.pem=keys/zts.public.pem
  name: athenz-zts-keys
  type: Opaque
- files:
  - athenz_admin.cert.pem=certs/athenz_admin.cert.pem
  - athenz_admin.private.pem=keys/athenz_admin.private.pem
  name: athenz-admin-keys
  type: Opaque

configMapGenerator:
- files:
  - athenz.properties=conf/athenz.properties
  - zts.properties=conf/zts.properties
  - logback.xml=conf/logback.xml
  name: athenz-zts-conf
images:
- name: ghcr.io/ctyano/athenz-auth-core:latest
  newName: ghcr.io/ctyano/athenz-auth-core
  newTag: latest
- name: ghcr.io/ctyano/athenz-cli:latest
  newName: ghcr.io/ctyano/athenz-cli
  newTag: latest
- name: ghcr.io/ctyano/athenz-zts-server:latest
  newName: ghcr.io/ctyano/athenz-zts-server
  newTag: latest
