---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: athenz-ui
  labels:
    app.kubernetes.io/name: athenz-ui
    app.kubernetes.io/instance: athenz-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: athenz-ui
      app.kubernetes.io/instance: athenz-ui
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: athenz-ui
        app.kubernetes.io/instance: athenz-ui
    spec:
      restartPolicy: Always
      dnsPolicy: "ClusterFirst"
      volumes:
        - name: athenz-ui-keys
          secret:
            secretName: athenz-ui-keys
            defaultMode: 0555
            items:
              - key: ui.private.pem
                path: ui.private.pem
              - key: ui.public.pem
                path: ui.public.pem
              - key: ui.cert.pem
                path: ui.cert.pem
        - name: athenz-ui-config
          configMap:
            name: athenz-ui-config
            items:
              - key: extended-config.js
                path: extended-config.js
        - name: athenz-cacert
          configMap:
            name: athenz-cacert
            items:
              - key: ca.cert.pem
                path: ca-certificates.crt
      containers:
        - name: athenz-ui
          image: ghcr.io/t4niwa/athenz-ui:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: NODE_ENV
              value: production
            - name: DEBUG
              value: AthenzUI:*
            - name: STATIC_USER_NAME
              value: athenz_admin
            - name: PORT
              value: "4443"
            - name: ZMS_SERVER_URL
              value: https://athenz-zms-server.athenz:4443/zms/v1/
            - name: UI_CERT_KEY_PATH
              value: /home/athenz/tls/ui.private.pem
            - name: UI_CERT_PATH
              value: /home/athenz/tls/ui.cert.pem
            - name: ATHENZ_PRIVATE_KEY
              value: /home/athenz/tls/ui.private.pem
            - name: ATHENZ_PUBLIC_CERT
              value: /home/athenz/tls/ui.cert.pem
            - name: NODE_EXTRA_CA_CERTS
              value: /etc/ssl/certs/ca-certificates.crt
          ports:
            - name: https
              containerPort: 4443
              protocol: TCP
          readinessProbe:
            initialDelaySeconds: 5
            periodSeconds: 3
            failureThreshold: 5
            exec:
              command:
                - curl
                - -s
                - -H
                - "X-Auth-Request-Preferred-Username: readiness_probe"
                - -H
                - "X-Auth-Request-Email: readiness_probe@www.athenz.io"
                - --fail
                - --resolve
                - athenz-ui.athenz:4443:127.0.0.1
                - https://athenz-ui.athenz:4443/
          livenessProbe:
            initialDelaySeconds: 20
            periodSeconds: 10
            failureThreshold: 3
            exec:
              command:
                - curl
                - -s
                - -H
                - "X-Auth-Request-Preferred-Username: liveness_probe"
                - -H
                - "X-Auth-Request-Email: liveness_probe@www.athenz.io"
                - --fail
                - --resolve
                - athenz-ui.athenz:4443:127.0.0.1
                - https://athenz-ui.athenz:4443/
          resources:
            limits:
              memory: 128Mi
              cpu: 100m
            requests:
              memory: 64Mi
              cpu: 50m
          volumeMounts:
            - name: athenz-ui-keys
              mountPath: /home/athenz/tls
              readOnly: true
            - name: athenz-cacert
              mountPath: /etc/ssl/certs/ca-certificates.crt
              subPath: ca-certificates.crt
              readOnly: true
            - name: athenz-ui-config
              mountPath: /home/athenz/src/config/extended-config.js
              subPath: extended-config.js
              readOnly: true
        # https://github.com/ghostunnel/ghostunnel
        - name: ghostunnel
          image: docker.io/ghostunnel/ghostunnel:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          args:
            - client
            - --listen
            - localhost:3000
            - --target
            - localhost:4443
            - --override-server-name
            - athenz-ui.athenz
            - --cacert
            - /etc/ssl/certs/ca-certificates.crt
            - --disable-authentication
          resources:
            limits:
              memory: 64Mi
              cpu: 50m
            requests:
              memory: 16Mi
              cpu: 5m
          volumeMounts:
            - name: athenz-cacert
              mountPath: /etc/ssl/certs/ca-certificates.crt
              subPath: ca-certificates.crt
              readOnly: true
